@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300;400;600&display=swap');

/* Restablecimiento de estilos global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables de color */

:root { 
  --color-maiz: #d1bc7e; /* Dorado suave, ideal para detalles e íconos */
  --acent-color: #f8c22e; /* Amarillo vibrante para botones y llamadas a la acción */
  --color-white: rgba(255, 255, 255, 0.95); /* Fondo de tarjetas y texto claro */
  --color-blanco-crema: #F5F0E6; /* Fondo secundario o cards suaves */
  --color-gris-claro: #D3D3D3; /* Bordes, separadores, hover sutil */
  --color-black: #2E2E2E; /* Texto principal con mejor legibilidad */
  --blackground-color: #7f896e; /* Verde oliva claro como fondo principal */
}


.app {
  font-family: Arial, sans-serif;
  background-color: var(--color-blanco-crema);
  color: var(--color-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

